# Segmentación vía clustering

Consideramos solamente los 8 atributos más importantes obtenidos por forward-selection. Observe que se debe retirar la columna de etiquetas 'flag' pues clustering es una técnica de aprendixaje supervisado.

Aplicamos el algoritmo kmodes de dos formas distintas:
1. Segmentar en dos clusters (intentando segmentar en compradores y no compradores)
2. Segmentar en 3, 4 y 5 clusters y en cada caso hallar aquel cluster con mayor cantidad de compradores

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn  import metrics
import matplotlib.pyplot as plt
import seaborn as sns

dF = pd.read_csv("prep_sales_data.csv").dropna()
labels = dF.flag
dF = dF.drop(columns=['flag', 'child','house_val', 'house_owner', 'fam_income', 'region'], axis =1)
dF = pd.get_dummies(dF)
dF.head(5)

,gender,education,online,marriage,car_prob,age_1_Unk,age_2upto25,age_3upto35,age_4upto45,age_5upto55,...,customer_psy_J,occupation_Blue Collar,occupation_Farm,occupation_Others,occupation_Professional,occupation_Retired,occupation_Sales/Service,mortgage_1Low,mortgage_2Med,mortgage_3High
0,1,0.75,1,1,0.1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,1,0.75,1,1,0.2,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
2,1,0.75,0,1,0.3,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
3,1,0.50,1,1,0.1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,0,0.00,1,1,0.7,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [8]:
from kmodes.kmodes import KModes

kmodes = KModes(n_clusters=2, init='Huang', n_init=5, verbose=1, random_state=5).fit(dF)
predicted = kmodes.labels_

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 7073, cost: 127310.0
Run 1, iteration: 2/100, moves: 0, cost: 127310.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 6047, cost: 126657.0
Run 2, iteration: 2/100, moves: 0, cost: 126657.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 4329, cost: 127171.0
Run 3, iteration: 2/100, moves: 0, cost: 127171.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 3141, cost: 133976.0
Run 4, iteration: 2/100, moves: 0, cost: 133976.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 6949, cost: 129148.0
Run 5, iteration: 2/100, moves: 0, cost: 129148.0
Best run was number 2

In [18]:
display(predicted[:20])
display(labels[:20].values)
print(kmodes.cluster_centroids_)

array([1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1],
      dtype=uint16)

array([1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1])

[[0.   0.5  1.   1.   0.1  0.   0.   0.   0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.
  1.   0.   0.  ]
 [0.   0.75 1.   1.   0.1  0.   0.   0.   0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.
  1.   0.   0.  ]]

In [28]:
print("Valores con el tiquetado por KModes")
print("Incorrectos", 23558-(predicted == labels).sum())
print("Correctos", (predicted == labels).sum()) #Atina a los 1's
print("Proporción de correctas:", 14428/(15252+8306))

Valores con el tiquetado por KModes
Incorrectos 9130
Correctos 14428
Proporción de correctas: 0.6124458782579166

In [20]:
dF2 = pd.read_csv("prep_sales_data.csv").dropna()
labels2 = dF2.flag
dF2 = dF2.drop(columns=['flag', 'child', 'house_val', 'house_owner', 'fam_income', 'region'], axis =1)
dF2 = pd.get_dummies(dF2)
dF2.head(5)

,gender,online,marriage,car_prob,age_1_Unk,age_2upto25,age_3upto35,age_4upto45,age_5upto55,age_6upto65,...,customer_psy_J,occupation_Blue Collar,occupation_Farm,occupation_Others,occupation_Professional,occupation_Retired,occupation_Sales/Service,mortgage_1Low,mortgage_2Med,mortgage_3High
0,1,1,1,0.1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
1,1,1,1,0.2,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
2,1,0,1,0.3,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
3,1,1,1,0.1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
4,0,1,1,0.7,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [27]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=1).fit(dF2)
predicted2 = kmeans.labels_

print("Valores con el tiquetado por Kmeans")
print("Incorrectos", 23558-(predicted2 == labels2).sum())
print("Correctos", (predicted2 == labels2).sum()) #Atina a los 1's
print("Proporción de correctas:", 15252/(23558))
print(kmeans.cluster_centers_)

Valores con el tiquetado por Kmeans
Incorrectos 8285
Correctos 15273
Proporción de correctas: 0.64742338059258
[[0.44493855 0.55158473 0.71199871 0.45164942 0.20827943 0.04018435
  0.12459573 0.17108668 0.17884864 0.14262613 0.13437904 0.04147801
  0.10988034 0.08627102 0.07624515 0.19413001 0.14270699 0.18046572
  0.02417529 0.07018111 0.07446636 0.27740944 0.01099612 0.05481889
  0.06678525 0.13712807 0.45286223 0.93871281 0.04463131 0.01665589]
 [0.34468275 0.86729223 0.93529937 0.21313673 0.04521895 0.0080429
  0.087042   0.25665773 0.34664879 0.19865952 0.05773012 0.02600536
  0.33896336 0.37399464 0.0334227  0.1207328  0.03789097 0.0100983
  0.0075067  0.02636282 0.02502234 0.04941912 0.00294906 0.02126899
  0.80375335 0.02895442 0.09365505 0.43565684 0.23967828 0.32466488]]